.card-header {
    padding: 2% 2% 2% 2%;
}
.image{
    max-width: 80%;
    max-height: 80%;
    vertical-align: center;
}
.underlined{
    text-decoration: underline;
}
.thick{
    font-weight: bold;
}